In [1]:
import pandas as pd
import numpy as np
import h2o

from h2o.automl import H2OAutoML

In [2]:
pc = pd.read_csv('./pc.csv')

In [3]:
pc.head()

,Manufacturer,Category,Screen Size,CPU,RAM,GPU,Weight,Price,Storage_size1,Storage_type1,Storage_size2,Storage_type2
0,5,4,13.3,6,8,0,1.37,11912523.48,128000,4,0,0
1,5,4,13.3,5,8,3,1.34,7993374.48,128000,2,0,0
2,2,3,15.6,6,8,3,1.86,5112900.00,256000,4,0,0
3,5,4,15.4,8,16,4,1.83,22563005.40,512000,4,0,0
4,5,4,13.3,7,8,4,1.37,16037611.20,256000,4,0,0

In [4]:
pc['Price'] = round(pc['Price'], 0)

In [5]:
pc.head()

,Manufacturer,Category,Screen Size,CPU,RAM,GPU,Weight,Price,Storage_size1,Storage_type1,Storage_size2,Storage_type2
0,5,4,13.3,6,8,0,1.37,11912523.0,128000,4,0,0
1,5,4,13.3,5,8,3,1.34,7993374.0,128000,2,0,0
2,2,3,15.6,6,8,3,1.86,5112900.0,256000,4,0,0
3,5,4,15.4,8,16,4,1.83,22563005.0,512000,4,0,0
4,5,4,13.3,7,8,4,1.37,16037611.0,256000,4,0,0

In [6]:
pc['Price'] = pc['Price'].astype(int)

In [7]:
pc.head()

,Manufacturer,Category,Screen Size,CPU,RAM,GPU,Weight,Price,Storage_size1,Storage_type1,Storage_size2,Storage_type2
0,5,4,13.3,6,8,0,1.37,11912523,128000,4,0,0
1,5,4,13.3,5,8,3,1.34,7993374,128000,2,0,0
2,2,3,15.6,6,8,3,1.86,5112900,256000,4,0,0
3,5,4,15.4,8,16,4,1.83,22563005,512000,4,0,0
4,5,4,13.3,7,8,4,1.37,16037611,256000,4,0,0

In [8]:
# pc['Price'] = pc['Price'] / 10000

In [9]:
# pc.head()

In [10]:
# pc['Price'] = round(pc['Price'], 0)

In [11]:
pc['Price'] = pc['Price'].astype(int)

In [12]:
pc.head()

,Manufacturer,Category,Screen Size,CPU,RAM,GPU,Weight,Price,Storage_size1,Storage_type1,Storage_size2,Storage_type2
0,5,4,13.3,6,8,0,1.37,11912523,128000,4,0,0
1,5,4,13.3,5,8,3,1.34,7993374,128000,2,0,0
2,2,3,15.6,6,8,3,1.86,5112900,256000,4,0,0
3,5,4,15.4,8,16,4,1.83,22563005,512000,4,0,0
4,5,4,13.3,7,8,4,1.37,16037611,256000,4,0,0

In [13]:
X_test = pc.drop('Price', axis=1)

In [14]:
X_train = pc[:-325]

In [15]:
len(X_train)

652

In [16]:
X_test = X_test[652:]

In [17]:
len(X_test)

325

In [18]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; OpenJDK 64-Bit Server VM (build 19+36-2238, mixed mode, sharing)
  Starting server from C:\Users\lpgal\AppData\Local\Programs\Python\Python311\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\lpgal\AppData\Local\Temp\tmpzjk2s7_4
  JVM stdout: C:\Users\lpgal\AppData\Local\Temp\tmpzjk2s7_4\h2o_lpgal_started_from_python.out
  JVM stderr: C:\Users\lpgal\AppData\Local\Temp\tmpzjk2s7_4\h2o_lpgal_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  -----------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.40.0.4
H2O_cluster_version_age:    1 month and 1 day
H2O_cluster_name:           H2O_from_python_lpgal_0ua8c8
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.971 Gb
H2O_cluster_total_cores:    12
H2O_cluster_allowed_cores:  12
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.1 final
--------------------------  -----------------------------

In [19]:
h2train=h2o.H2OFrame(X_train)
h2test=h2o.H2OFrame(X_test)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [20]:
h2train.columns

['Manufacturer',
 'Category',
 'Screen Size',
 'CPU',
 'RAM',
 'GPU',
 'Weight',
 'Price',
 'Storage_size1',
 'Storage_type1',
 'Storage_size2',
 'Storage_type2']

In [21]:
X=[c for c in h2train.columns if c!='Price']

y='Price'

In [22]:
automl=H2OAutoML(max_models=10,
                 seed=42,   # random_state
                 max_runtime_secs=300,
                 sort_metric='RMSE')

In [23]:
automl.train(x=X,
             y=y,
             training_frame=h2train)

AutoML progress: |█
15:08:05.800: AutoML: XGBoost is not available; skipping it.

██████████████████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2OGradientBoostingEstimator : Gradient Boosting Machine
Model Key: GBM_grid_1_AutoML_1_20230529_150805_model_1


Model Summary:
    number_of_trees    number_of_internal_trees    model_size_in_bytes    min_depth    max_depth    mean_depth    min_leaves    max_leaves    mean_leaves
--  -----------------  --------------------------  ---------------------  -----------  -----------  ------------  ------------  ------------  -------------
    51                 51                          27227                  6            6            6             20            54            37.8039

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 1592061351345.5322
RMSE: 1261769.1355178775
MAE: 915356.9526457055
RMSLE: 0.13815815930044217
Mean Residual Deviance: 1592061351345.5322

ModelMetricsRegression: gbm
** Reported on cross-validation data. **

MSE: 6849970572141.658
RMSE: 2617244.8437510883
MAE: 1612686.0052735996
RMSLE: 0.20949732347576133
Mean Residual Deviance: 6849970572141.658

Cross-Validation Metrics Summary:
                        mean         sd           cv_1_valid    cv_2_valid    cv_3_valid    cv_4_valid    cv_5_valid
----------------------  -----------  -----------  ------------  ------------  ------------  ------------  ------------
mae                     1.61571e+06  198507       1.45308e+06   1.41182e+06   1.62221e+06   1.68447e+06   1.90697e+06
mean_residual_deviance  7.01638e+12  1.66845e+12  6.51441e+12   5.54569e+12   6.16891e+12   7.00778e+12   9.8451e+12
mse                     7.01638e+12  1.66845e+12  6.51441e+12   5.54569e+12   6.16891e+12   7.00778e+12   9.8451e+12
r2                      0.799726     0.0745301    0.823599      0.872506      0.817902      0.810972      0.67365
residual_deviance       7.01638e+12  1.66845e+12  6.51441e+12   5.54569e+12   6.16891e+12   7.00778e+12   9.8451e+12
rmse                    2.63518e+06  300418       2.55233e+06   2.35493e+06   2.48373e+06   2.64722e+06   3.13769e+06
rmsle                   0.208908     0.022984     0.201759      0.185697      0.19851       0.212194      0.246381

Scoring History:
    timestamp            duration    number_of_trees    training_rmse    training_mae    training_deviance
--  -------------------  ----------  -----------------  ---------------  --------------  -------------------
    2023-05-29 15:08:15  0.322 sec   0                  6.0363e+06       4.55834e+06     3.64369e+13
    2023-05-29 15:08:15  0.335 sec   5                  4.07744e+06      3.09236e+06     1.66255e+13
    2023-05-29 15:08:15  0.346 sec   10                 3.02221e+06      2.24737e+06     9.13377e+12
    2023-05-29 15:08:15  0.356 sec   15                 2.40383e+06      1.78007e+06     5.77841e+12
    2023-05-29 15:08:15  0.367 sec   20                 1.9906e+06       1.47652e+06     3.96248e+12
    2023-05-29 15:08:15  0.376 sec   25                 1.74674e+06      1.28599e+06     3.0511e+12
    2023-05-29 15:08:15  0.388 sec   30                 1.574e+06        1.14834e+06     2.47746e+12
    2023-05-29 15:08:15  0.400 sec   35                 1.47579e+06      1.07613e+06     2.17795e+12
    2023-05-29 15:08:15  0.409 sec   40                 1.40853e+06      1.02873e+06     1.98395e+12
    2023-05-29 15:08:15  0.419 sec   45                 1.33802e+06      973105          1.79031e+12
    2023-05-29 15:08:15  0.429 sec   50                 1.26785e+06      922495          1.60745e+12
    2023-05-29 15:08:15  0.432 sec   51                 1.26177e+06      915357          1.59206e+12

Variable Importances:
variable       relative_importance    scaled_importance    percentage
-------------  ---------------------  -------------------  ------------
RAM            5.69775e+16            1                    0.575169
Weight         1.17215e+16            0.205722             0.118325
CPU            1.1711e+16             0.205538             0.118219
Category       4.75294e+15            0.0834178            0.0479793
Screen Size    3.57632e+15            0.0627672            0.0361018
Manufacturer   3.11866e+15            0.054735             0.0314819
Storage_size1  2.51347e+15            0.0441133            0.0253726
GPU            2.44781e+15            0.0429611            0.0247099
Storage_type1  1.42891e+15            0.0250785            0.0144244
Storage_size2  6.00841e+14            0.0105452            0.0060653
Storage_type2  2.13197e+14            0.00374178           0.00215216

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [24]:
print('[INFO] Leader board:')

leader_board=automl.leaderboard

leader_board.head()

[INFO] Leader board:

model_id                                                        rmse          mse          mae     rmsle    mean_residual_deviance
-------------------------------------------------------  -----------  -----------  -----------  --------  ------------------------
GBM_grid_1_AutoML_1_20230529_150805_model_1              2.61724e+06  6.84997e+12  1.61269e+06  0.209497               6.84997e+12
GBM_5_AutoML_1_20230529_150805                           2.61803e+06  6.85409e+12  1.61308e+06  0.212021               6.85409e+12
StackedEnsemble_BestOfFamily_1_AutoML_1_20230529_150805  2.64734e+06  7.00841e+12  1.60201e+06  0.207556               7.00841e+12
StackedEnsemble_AllModels_1_AutoML_1_20230529_150805     2.65366e+06  7.0419e+12   1.62497e+06  0.211287               7.0419e+12
DRF_1_AutoML_1_20230529_150805                           2.77149e+06  7.68116e+12  1.63406e+06  0.213083               7.68116e+12
GBM_4_AutoML_1_20230529_150805                           2.79022e+06  7.78534e+12  1.69678e+06  0.221366               7.78534e+12
XRT_1_AutoML_1_20230529_150805                           2.82338e+06  7.97149e+12  1.7515e+06   0.227829               7.97149e+12
GBM_3_AutoML_1_20230529_150805                           2.83467e+06  8.03538e+12  1.694e+06    0.222465               8.03538e+12
GBM_2_AutoML_1_20230529_150805                           2.85155e+06  8.13135e+12  1.71097e+06  0.225206               8.13135e+12
DeepLearning_1_AutoML_1_20230529_150805                  3.46026e+06  1.19734e+13  2.21851e+06  0.307646               1.19734e+13
[10 rows x 6 columns]

In [25]:
y_pred=automl.leader.predict(h2test)

gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [26]:
y_pred[:10]

    predict
-----------
1.30748e+07
1.00403e+07
3.86543e+06
6.72167e+06
8.37162e+06
1.08797e+07
1.07541e+07
2.37544e+07
9.95282e+06
2.76412e+06
[325 rows x 1 column]

In [27]:
muestra = pd.read_csv('./muestra.csv')

In [28]:
y_pred_list = h2o.as_list(y_pred)

In [29]:
muestra_final = pd.concat([muestra, y_pred_list], axis=1)

In [30]:
muestra_final.head()

   id     Price       predict
0   0   2759145  1.307485e+07
1   1  10926785  1.004031e+07
2   2  20212944  3.865425e+06
3   3  46541311  6.721673e+06
4   4  46335226  8.371616e+06

In [31]:
muestra_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       325 non-null    int64
 1   Price    325 non-null    int64
 2   predict  325 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 7.7 KB